name: Install NPM Packages

on:
  workflow_dispatch:

jobs:
  install-deps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup PSE
        uses: invisirisk/pse-action@dev-test
        with:
          api_url: "https://app.stage.invisirisk.com"
          app_token: ${{ secrets.IR_API_KEY_STAGE }}
          
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # or use your project's Node version

      - name: Install dependencies
        run: npm install --legacy-peer-deps --force
         
      - name: Count total installed NPM packages
        run: |
          COUNT=$(npm ls --all --parseable --long 2>/dev/null | grep node_modules | wc -l)
          echo "Total packages installed (including transitive): $COUNT"

      - name: Cleanup PSE
        if: always()
        uses: invisirisk/pse-action@dev-test
        with:
          cleanup: "true"
          
  gather_analytics:
      
   runs-on: ubuntu-latest
   name: Gather Analytics
   needs: install-deps
   if: always()
   steps:
   - name: Gather Status
     uses: invisirisk/pse-action@dev-test
     with:
      api_url: "https://app.stage.invisirisk.com"
      app_token: ${{ secrets.IR_API_KEY_STAGE }}
      send_job_status: "true"
      debug: "true"
